@import "compass";

/*****************************************************************/
/* responsive  */

/* Extra small (Phones) and Small devices: Tablets (≥768px) */
.row { margin: 0; }
.container { padding: 0; }

@media (max-width: 991px) {
    .container{width: 100%;}
    div[class^="col-"] {padding:0}
}

/* Medium and Large devices: Desktops (≥992px) */
@media (min-width: 992px) {
    .container{width: 75%; }
}
