/*****************************************************************/

/* yet to locate */

/*****************************************************************/
/* layout */

body {    
    background-color: #eeeeee;
    font-family: "Segoe UI", MeiryoKe_PGothic, "Meiryo", "Meiryo UI", Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif
}

body > .container {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
}

.pane {
    padding-left: 20px;
    padding-right: 20px;
}

footer#footer {
    background-color: white;
    padding: 20px;
}

footer#footer .copyright {
    border-top: 1px solid black;
    padding: 10px;
}
  
/* responsive style */
/* Extra small devices: Phones (<768px) */
@media (max-width: 767px) {
  .container{width: 100%; padding:0}
  .row {margin:0;}
  div[class^="col-"] {padding:0}
}

/* Small devices: Tablets (≥768px) */
@media (min-width: 768px) and (max-width: 991px) {
  .container{width: 100%; padding:0}
  .row {margin:0;}
  div[class^="col-"] {padding:0}
}

/* Medium devices: Desktops (≥992px) */
@media (min-width: 992px) and (max-width: 1199px) {
  .container{width: 75%; padding:0}
  .row {margin:0;}  
}

/* Large devices: Desktops (≥1200px) */
@media (min-width: 1200px) {
  .container{width: 75%; padding:0}
  .row {margin:0;}  
}

/*****************************************************************/
/* eye-catch */

header.eyecatch {
    height: 100px;
    background-color: black;
    margin-top: 10px;
}

header.eyecatch .sitename {
    padding-left: 20px;
    padding-top: 20px;

    font-weight: lighter;
    font-size: x-large;
    color: #aaaaaa;
}
header.eyecatch .sitename a {
    color: #aaaaaa;
}
/*****************************************************************/
/* navbar */

.navbar-default {
    border-radius: 0;
    margin-bottom: 0;
}

/*****************************************************************/
/* sidebar */

.sidebar {
    margin-top: 30px;
}

.sidebar aside {
    border-top: 1px solid #eeeeee; 
    padding-bottom: 10px;
    padding-top: 5px;
}

.sidebar aside h2 a {
  color: black;
}
.sidebar aside h3 a {
  color: black;
}

.sidebar h2 {
    font-size: medium;
    font-weight: bold;
}

.sidebar h3 {
    font-size: medium;
}

.sidebar section {
    background-color: white;
}

.sidebar aside.categories li {
    margin-left: -1em;
}

/*****************************************************************/
/* breakcrumbs */

nav.crumbs {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;

    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 5px;    
    padding-bottom: 5px;    
}

ol.breadcrumb {
    background-color: white; 
    margin-bottom: 0;
    padding-top: 0; 
    padding-bottom: 0;

}

ol.breadcrumb li.active {
    font-weight: bold;
}

/*****************************************************************/
/* page details */

.page_info {
    text-align: right;
}

article header {
}

article footer {
    padding: 10px;
    margin-top: 50px;
    border-top: 1px solid lightgray;
}

.share_sns {
  padding-top: 10px;
  padding-bottom: 10px;
}

/*****************************************************************/
/* article summary */
article.summary h1 {
    font-size: large;
}

article.summary .page_content {
    padding: 10px 00px 40px 30px;  
}

/*****************************************************************/
/* article content */

a {
    color: rgb(100, 100, 222);
}
a:visited {
    color: rgb(68, 68, 169);
}

a:hover {
    color: rgb(68, 68, 169);
    text-decoration: none;
}

/*****************************************************************/
/* header numbering */
body {
 counter-reset: h1;
}

.numbering_headings h1{counter-increment:h1;counter-reset:h2;} 
.numbering_headings h2{counter-increment:h2;counter-reset:h3;}
.numbering_headings h3{counter-increment:h3;counter-reset:h4;}
.numbering_headings h4{counter-increment:h4;counter-reset:h5;}
.numbering_headings h5{counter-increment:h5;counter-reset:h6;}

.numbering_headings h2:before{content: counter(h2) ". ";}
.numbering_headings h3:before{content: counter(h2) "." counter(h3) ". "; }
.numbering_headings h4:before{content: counter(h2) "." counter(h3) "." counter(h4) ". "; }
.numbering_headings h5:before{content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "; }

article h1 {
    font-weight: bold;
    margin: 0 0 15px 0;
    padding: 10px 10px 1px 10px;

    border-bottom: 1px solid;
    border-color: #aaa;
/*    border-left: 10px solid;*/

    counter-increment: h1;
    counter-reset: h2;
}

article h2 {
    font-weight: bold;
    border-bottom: 1px solid;
//    border-left: 5px solid;
    margin: 30px 0 10px 0;
    padding: 3px 10px 1px 10px;

}
article h3 {
    font-weight: bold;
//    border-left: 3px solid;
    border-bottom: 1px solid;
    padding: 3px 10px 1px 10px;
}
article h4 {
    font-weight: bold;
    border-bottom: 1px solid;
    padding: 3px 10px 1px 10px;
}

article p {
    padding-left: 20px;
}
article pre {
    padding-left: 20px;
}

/*****************************************************************/
/* tag_box */
.tag_box {
  list-style: none;
  margin: 0;
  overflow: hidden; 
}
.tag_box li {
  line-height: 28px; 
}
.tag_box li i {
  opacity: 0.9; 
}
.tag_box.inline li {
  float: left; 
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; 
}
.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; 
}
.tag_box a:hover {
  background-color: #e5e5e5; 
}
.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; 
}
