h1, h2, h3, h4, h5 {
   color: green;
}

.content {
    margin-top: 2em;
}

.sidebar ol {
    margin: 0 0 1em 2em;
    padding: 0;
}
.sidebar ul {
    margin: 0 0 1em 2em;
    padding: 0;
}

#footer {
/*    background-color: #33e; */
    margin: 30px;
    border-top: 1px solid green;
    padding: 5px;
}


/* heading */
body {
 counter-reset: h2;
}

/* .content > h1{counter-increment:h1;counter-reset:h2;} */
.content > h2{counter-increment:h2;counter-reset:h3;}
.content > h3{counter-increment:h3;counter-reset:h4;}
.content > h4{counter-increment:h4;counter-reset:h5;}
.content > h5{counter-increment:h5;counter-reset:h6;}

.content > h2 {
    font-weight: bold;
    line-weight: 1.5em;
    border-bottom: 1px solid green;
    border-left: 10px solid green;
    margin: 30px 0 10px 0;
    padding: 3px 10px 1px 10px;

}
.content > h3 {
    font-weight: bold;
    line-weight: 1.5em;
    border-left: 3px solid green;
    border-bottom: 1px solid green;
    padding: 3px 10px 1px 10px;
}
.content > h4 {
    font-weight: bold;
    padding: 3px 10px 1px 10px;
}

.content p {
    padding-left: 20px;
}
.content pre {
    padding-left: 20px;
}

/* .content > h1:before{content: counter(h1) ". ";} */
.content > h2:before{content: counter(h2) ". ";}
.content > h3:before{content: counter(h2) "." counter(h3) ". "; }
.content > h4:before{content: counter(h2) "." counter(h3) "." counter(h4) ". "; }
.content > h5:before{content: counter(h2) "." counter(h3) "." counter(h4) "." counter(h5) ". "; }

