@import "compass";

/*****************************************************************/
/* tag_box */

.tag_box {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    
    li {
      line-height: 28px; 
      
      i {
	  opacity: 0.9; 
      }
      a {
	  padding: 3px 6px;
	  margin: 2px;
	  background: #eee;
	  color: #555;
	  border-radius: 3px;
	  text-decoration: none;
	  border: 1px dashed #cccccc; 

	  span {
	      vertical-align: super;
	      font-size: 0.8em; 
	  }
      }
      a:hover {
	  background-color: #e5e5e5; 
      }
      a.active {
	  background: #57A957;
	  border: 1px solid #4c964d;
	  color: #FFF; 
      }
    }     
} 
.tag_box.inline li {
    float: left; 
}
