<% wrap_layout :layout do %>
<div class="panel panel-primary article">
  <div class="panel-heading">
    <%= h current_page.data.title %>
  </div>
  <div class="panel-body content">
    <h1><%= current_page.data.title %></h1>
    <%= yield %>
  </div>
</div>
<% end %>
