<% wrap_layout :layout do %>
<article>
  <header>
    <%= partial("partials/crumbs", locals: {type: :category, category: category}) %>
    <h1>Category: <%= h(category) %></h1>
  </header>
  
  <section class="page_content">
    <%= yield %>
  </section>

  <footer>
  </footer>
</article>
<% end %>
