<% wrap_layout :layout do %>

<article>
  <header>
    <%= crumbs(current_page, :page) %>
    <h1><%= h(current_page.data.title || yield_content(:title)) %></h1>
  </header>

  <section class="page_content">
    <%= yield %>
  </section>

  <footer>
  </footer>
</article>
<% end %>

