<% wrap_layout :layout do %>
  <h1>
    <%= current_page.combined_title %>
  </h1>
  <hr>
  <div>
    <%= current_page.modified_at.strftime("%d %b %Y %H:%M:%D") %>
  </div>
  <div class="content">
    <%= yield %>
  </div>
<% end %>
