<% wrap_layout :layout do %>
<div class="panel panel-primary">
  <div class="panel-heading"><%= h current_page.data.title %></div>
  <div class="panel-body">
    <%= yield %>
  </div>
</div>
<% end %>
