---
title: スピンとジャンプ規定問題集 vol. 1
category: figureskating
date: 2014-12-06
---
%style{type: "text/css"}
  dd { margin-top: 1em; margin-bottom: 1em; margin-left: 2em; }

%div
  %p
    スケートラボ二回目を見返したので、ちょっと問題などを。

  %p
    スピンの表記については、以下の図表がが参考になるかと思いますが、
    今回の問題はここで省いたものがポイントになってます（ズルい）
    %img{src: "https://pbs.twimg.com/media/BwdA14KCAAAReil.jpg:small"}
  
  %p スケートラボ＃２を録画されたかたはそれを見返せば答えがありあすが、ヒントとしては、
  %ul
    %li 2014-15 から新しく導入された表記
    %li CoSp での基本姿勢の要件
    %li フライングの際の姿勢形成の要件、などです。

%h2 問題

%div
  (*) "A1" などの部分をクリックすると答えと解説が表示されます。

%dl
  %dt
    Q1. 足換えフライングコンビネーションスピンにおいて、バタフライエントリー、ノーマルキャメル、キャメルフォワード、ノーマルアップライトまでは認められたが、足換え後のシットフォワード、シットビハインドは腰が高く認定されなかった。この要素を表記せよ。
  %dd 
    %a{"data-toggle" => "collapse", "data-target" => "#c1"} A1
    #c1.collapse
      %p まずFCCoSp、コンビネーションスピンの場合は、レベルの前に基本姿勢の数を見ます。キャメル、アップライトは認定されてるけどシットがダメなので 2pですね。レベル要素としてはバタフライが「フライングの難しい入り」、キャメルフォワードで２。
      
      %p また、足換えスピンの場合は、「両方の足で基本姿勢があること」が求められます。この場合、足変え後のシットが両方共認定されてないので、足変え後に基本姿勢がない、と見做され、V1がつきます。
      %p
        よって答えは
        %strong "FCCoSp2p2V1"
      
      %p ちなみに基本姿勢が一つしかないと、たとえばアップライトを入れなかったとすると、基本姿勢がキャメルのみとなってしまうので、レベルどころかノーカンになってしまいます。「組み合わせ」スピンなのに一個しかないと、ですね。この前ミーシャか誰かが食らってた記憶があります。
  %dt
    Q2. 足換えシットスピンにおいて、足換え前にシットフォワード、同じ足でのジャンプ、シットサイド、ジャンプによる足換え、シットビハインドを試みたが、足換え前のシット姿勢はいずれも回転数が必要数に満たなかった。この要素を表記せよ。
  %dd
    %a{"data-toggle" => "collapse", "data-target" => "#c2"} A2
    #c2.collapse
      %p 足変えシットなのでCSSp。レベル特徴の試みとしては、SF,同足ジャンプ、SS、ジャンプ足変え、SBと５つやってますが、SF, SSの２つが不認定。じゃあLV３じゃないかと思いがちですが、ジャンプ（同じ足、足変えとも）、前後に「しっかり基本（or非基本姿勢）を取ってないとダメ」なので２つのジャンプとも残念ながら不認定です。正確にいうと、ジャンプ前に基本or非基本姿勢を２回転以上、着氷後に２回転以内に基本姿勢に達し、かつ２回転以上保持、ですね。

      %p 
        なのでレベルとしては最後のSBのみの１。またQ1と同様に、足変え前に基本姿勢がないので、V1がついてしまいます。よって答えは
        %strong "CSSp1V1"

  %dt
    Q3. フライングキャメルスピンにおいて、バタフライエントリー、ノーマルキャメル、キャメルサイド、キャメルフォワードを試みたが、着氷後のノーマルキャメルにて一回転半で足を一旦下ろしてしまった。この要素を表記せよ。
  %dd
    %a{"data-toggle" => "collapse", "data-target" => "#c3"} A3
    #c3.collapse
      %p
        フライングキャメルなのでFCSp。構成としてはバタフライ、CS, CF の３ですが、エントリーの後、これまた「２回転以内に基本姿勢に達しかつ２回転以上保持」しないと認められないので、バタフライは却下でLV２。またフライングの場合は、その「２回転２回転」の規定を守れないとV1がついてしまいます。よって答えは 
        %strong "FCSp2V1"

      %p ちなみに足変えありのフライングスピンで、「フライングエントリの後の基本姿勢形成」と「どちらかの足で基本姿勢がない」の両方とも違反してしまうとV2がついてしまいます。FCSp1V2 とか。

      %p と、なかなか言葉ではイメージしづらいですが、スケートラボでは岡部女史が映像付きで分かりやすく説明なされてるので、是非ともそちらもご覧ください。

      %p 再三でてきてる、今季より導入されたV1,2など、「基本姿勢をしっかり取ること」が重要視されてるのが分かると思います。とかくレベル取りでいろいろな姿勢を試しがちですが、基本の姿勢を速やかに、かつ確実に取らないとダメよ、と。トップのシニアでは少ないですが、ジュニアだとV1をよく見ます。

      %p 特に、シットの腰高は厳しく見られてる傾向があります。要件としては「スケーティング・レッグの大腿部が少なくとも氷面に平行」。難ポジを取ろうと腰が浮いてしまうと（ビハンドとか特に）、レベルどころか基本姿勢で弾かれてしまうことがありますね。キャメルだと足が下がっちゃ、とか。

  %dt Q4. スピンにおける基本姿勢とは、アップフロント、シット、キャメル、レイバックの四つである。
  %dd
    %a{"data-toggle" => "collapse", "data-target" => "#c4"} A4
    #c4.collapse
      %p そもそも「基本姿勢」とは、アップライト、シット、キャメルの３つです。レイバック（やビールマン）はアップライトの派生系ですね。よって×。よく出てくるシットビハインド、キャメルフォワードなどは、これらの基本姿勢の中の「難しいポジション」という扱いです

  %dt
    Q5. スピン中におけるウィンドミルは二回転以上しないと難しいポジションと見なされない。
  %dd
    %a{"data-toggle" => "collapse", "data-target" => "#c5"} A5
    #c5.collapse
      %p 通常各姿勢は２回転以上で認定されますが、ウィンドミル（ぐいんぐいんって斜めに回るやつ）の場合は３回転以上とされてます。よって×。

      %p 「難しいポジション」はそれぞれの基本姿勢に対応してカテゴリとして分類されており、全部で１１あります。
      %ul
        %li アップライト：UF,US,UB,UL
        %li シット：SF,SS,SB
        %li キャメル：CF,CS,CU
        %li 非基本姿勢：NBP

      %p
        プログラムの中で認定されるのは、
        %strong 始めに試みた１回
        だけ。
        シットビハインドが得意だからといって何回もやっても２回目以降は認められません。

  %dt
    Q6. ジュニア男子の選手がショートにおいて3Lz3Tの予定が2Lz2Tになってしまった場合、要求を満たしていないためコンビネーションジャンプ全体が無価値となる。
  %dd
    %a{"data-toggle" => "collapse", "data-target" => "#c6"} A6
    #c6.collapse
      %p
        ジャンプ編：ジュニア男子はトリプルをコンビネーションに組み込むことが求められるので、ダブルダブルはダメなんですが、コンビネーション自体が無価値になるのでは「なく」、
        %strong 基礎点が低い方だけ無価値
        になります。

      %p ちなみにジュニア女子はダブルダブルもOK。

  %dt
    Q7. ジャンプにおいて、仮に着氷時にステップアウトしたとしても、その他の点において加点要素が認められば、ジャッジはGOE+1以上を付与することができる。
  %dd
    %a{"data-toggle" => "collapse", "data-target" => "#c7"} A7
    #c7.collapse
      %p ステップアウトは「最終的なGOEが必ずマイナスとなるエラー」なので、+1、というか 0 以上にはなりません。よくて-1。転倒、両足着氷なども同じ扱いですね。（-3引き下げかつ最終的にマイナス）

  %dt
    Q8. フリースケーティングにおいて、トリプル以上のジャンプを二回繰り返しかつ両方ともソロジャンプであった場合、二回目のジャンプには+REPが付与されるが、あたえられる基礎点は本来のおよそ何%か？
  %dd
    %a{"data-toggle" => "collapse", "data-target" => "#c8"} A8
    #c8.collapse
      %p +REP の場合は70%ですね。昨季までの +SEQ 80% と混乱しがちなので注意

  %dt
    Q9. ジュニア選手が、はじめのジャンプ要素である3F2Tを試行したが3Fでステップアウトしコンビネーションを付けられなかった。次のジャンプ要素の予定はステップからの3Lzであるが、リカバリーとして3Lz2Tのコンビネーションに変更すべきである。
  %dd
    %a{"data-toggle" => "collapse", "data-target" => "#c9"} A9
    #c9.collapse
      %p シニアならそれで構わないのですが、ジュニアの場合は毎年「ジャンプ指定」があり、ソロジャンプはこれを飛びなさい、と決められているので、下手に予定のソロにコンビネーションをつけてしまうと、（結果として）ソロになった方が違反として弾かれてしまうので（この場合3F\*）、

      %p そのままソロはソロで飛ばないとまずいです。「ジュニア男子・ジュニア女子 - ダブルまたはトリプル・ルッツ」、ジャンプしては「ルッツ、フリップ、ループ」の順に、単一姿勢のスピンは「シット、キャメル」の交互に毎年指定されます。

  %dt
    Q10. 3T, 3F3T, 3Lz3T&lt;&lt; と3Tを三回実行してしまったが、最後のはダウングレードとなったため三回目とはカウントされず、無価値とはならない。
  %dd
    %a{"data-toggle" => "collapse", "data-target" => "#c10"} A10
    #c10.collapse
      %p これはあくまで実行されたジャンプですので、ダウングレード等勘案前の回転数が基準となりますね。なので無価値。
     

%h2 参考
%ul
  %li
    %a{href: "http://www.jsports.co.jp/skate/labo/"} フィギュアスケートラボ
  %li
    %a{href: "http://skatingjapan.or.jp/image_data/fck/file/Figure_ISU_Communication/2014-15_TPHandbook_single_J_ver1_140816.pdf"} テクニカル・ハンドブック
  %li
    スピンのV1,V2 のまとめの表
    %img{src: "https://pbs.twimg.com/media/B4BSLpGCcAAe403.jpg:small"}



