	<nav class="navbar navbar-default">
	  <div class="navbar-header">
	    <button type="button" data-toggle="collapse" data-target="#topHeader" class="navbar-toggle">
	      <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar">
	      <span class="icon-bar">
	      <span class="icon-bar">
	    </button>
	    <%= link_to("Home", top_page(), {"class" => "navbar-brand"}) %>
	  </div>
	  <div class="collapse navbar-collapse" id="topHeader">
	    <ul class="nav navbar-nav">
	      <% sitemap.resources.select {|p| p.data.group == "navigation"}.each do |page| %>
 	      <li><%= link_to(h(page.data.title), page) %></li>
	      <% end %>
	    </ul>
	  </div>
	</nav>
