<div class="panel panel-primary">
  <div class="panel-heading">Articles</div>
  <div class="panel-body">
    <ul>
      <% page = sitemap.resources.select {|page| page.destination_path =~ /\.html$/}.each do |page| %>
        <li>
	  <% title = (page.data.series) ? page.data.series : "" %>
	  <% title += page.data.title %>
	  <%= link_to(title, page.destination_path) %>
      <% end %>
    </ul>
  </div>

</div>

