---
title: Category Summary
date: 2015-03-14
layout: category

---

<% articles.each do |article| %>
  <article class="summary">
    <header>
      <h1><%= link_to(h(article.title), article) %></h1>
      <section class="page_info">
        <%= page_info(article) %>
      </section>
    </header>
    <section class="page_content">
      <%= Nokogiri::HTML(article.summary(250)).text %>
      <%= link_to("... read more", article) %>
    </section>
  </article>
<% end %>

