---
title: Top Page
---

<h2>このサイトについて</h2>
ソフトウェア開発、フィギュアスケートなどについての情報をまとめています。

<h3>連載記事</h3>
<ul>
  <li>middleman と org-mode でサイト構築
    <%= summary("series", "middleman と org-mode でサイト構築", {list_type: "ol"}) %> 
  </li>
</ul>

<h3>ソフトウェア開発</h3>
<%= summary("category", "software", {caption_template: "--- %{title}---", list_type: "ol"}) %>

<h3>フィギュアスケート</h3>
<%= summary("category", "figureskating", {list_type: "ol"}) %>

<h2>最新記事</h2>

<ul>
<% select_html_pages.select {|p| p.data.group != "navigation" }.sort {|a, b| b.mtime <=> a.mtime}.first(10).each do |page| %>
  <li><%= link_to(h(page.combined_title), page.url) %></li>
<% end %>
</ul>
