---
title: Home
pageable: true
layout: page
---

<%= partial("partials/summary", locals: {articles: page_articles}) %>

<% if paginate %>
  <nav>
    <ul class="pager">
      <% opt = {}; opt[:class] = 'disabled' if prev_page.nil? %>
      <% content_tag(:li, opt) do; link_to('Prev', prev_page); end %>
      <% opt = {}; opt[:class] = 'disabled' if next_page.nil? %>
      <% content_tag(:li, opt) do; link_to('Next', next_page); end %>
    </ul>
  </nav>
<% end %>

