---
title: Recent Posted
group: navigation
---

<% blog.articles_with_date.each do |date, pages|   %>
<h3><%= date.strftime("%d %b %Y") %></h3>
<ul>
  <% pages.each do |page| %>
  <li><%= link_to(h(page.title), page) %></li>
  <% end %>
</ul>
<% end %>
