---
title: Sitemap
group: navigation
---

<hr>

<ul>
<% select_html_pages.sort_by {|p| p.data.category.to_s + p.destination_path.to_s }.each do |page| %>
  <li>
    <%= (page.data.category) ? "[" + h(page.data.category) + "] " : "" %>
    <%= link_to(h(page.page_title), page.url) %>
    <%= "... " + page.mtime.strftime("%Y/%m/%d %H:%M:%S") %>
  </li>
<% end %>
</ul>
