---
title: Sitemap
group: navigation
---

<hr>

<ul>
<% group_by_category.each do |category, pages| %>
  <% pages.each do |page| %>
    <% next if page.ext != ".html" %>
  <li>
    <%= (category) ? "[" + h(category) + "] " : "" %>
    <%= link_to(h(page.data.title), page.url) %>
    ...<small><%= page.mtime.strftime("%Y/%m/%d %H:%M:%S") %></small>
  </li>
  <% end %>
<% end %>
</ul>
