---
title: Sitemap
group: navigation
---

<ul>
<% i = 0; j = 0 %>
<% select_html_pages.stable_sort_by {|p| p.data.destination_path.to_s }.stable_sort_by {|p| p.data.category.to_s }.each do |page| %>
  <li>
    <%= (page.data.category) ? "[" + h(page.data.category) + "] " : "" %>
    <%= link_to(h(page.combined_title), page.url) %>
    <%= "... " + page.mtime.strftime("%Y/%m/%d %H:%M") %>
  </li>
<% end %>
</ul>
