---
title: Sitemap
group: navigation
---

<h2>Articles</h2>
<ul>
<% blog.categories.each do |category, pages| %>
  <% pages.each do |page| %>
    <% next if page.ext != ".html" %>
  <li>
    <%= link_to_page(page) %>
    ...
    <%= (category) ? "[" + link_to(h(category), category_summary_page(category)) + "] " : "" %>
    <small><%= page.date.strftime("%Y/%m/%d") %></small>
  </li>
  <% end %>
<% end %>
</ul>

<h2>Other Pages</h2>
<ul>
<% prefix = blog.options.prefix %>
<% sitemap.resources.select {|p| !p.is_a?(Middleman::Blog::BlogArticle) && p.ext == ".html"}.each do |page| %>
  <li>
    <% title = page.data.title %>
    <%= link_to(h((title.nil?) ? "[untitled]" : title), page) %>
  </li>
<% end %>
</ul>

